<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'study_spaces_app:HomePage' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'study_spaces_app:Logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'study_spaces_app:Login' %}">Login</a></li>
          <li><a href="{% url 'study_spaces_app:Signup' %}">Sign up</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
