{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="mb-4">My Account: {{ request.user.username }}</h1>
    {% if user %}
      <p>Email: {{ request.user.email }}</p>
      <img class="img-thumbnail" src="{{ MEDIA_URL }}/{{ user_profile.user_profile }}" alt="profile Image" style="width: 200px; height: 200px;"><br>
      <button class="btn btn-primary mt-3 mb-3" type="button" onclick="window.location.href='{% url 'study_spaces_app:changeDetails' %}'">Edit your account settings</button><br>
    {% endif %}
    <h2>My Posts</h2>
    {% if posts %}
      {% for p in posts %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ p.pictureName }}</h5>
            <p class="card-text">{{ p.description }}</p>
            {% if p.picture %}
              <img class="card-img-top" src="{{ p.picture }}" alt="Picture">
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>You have not created any posts yet.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
